* {
  font-family: roboto;
}

body {
  height:100vh;
  margin:0;
  padding:0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-container {
 background-color: #1F2937 ;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 flex-basis: 100%;
}

.body-container-end {
  flex:1;
}

.header-container-nav {
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  flex-basis: 100%;
}

.header-container-nav .header-links {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  margin-left: 480px;
  font-size: 18px;
}

.header-container-nav .header-logo {
  display: flex;
  flex-shrink: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 
.header-container-nav a {
   text-decoration: none;
   color: rgb(233, 228, 228);
 }

 .header-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px;
 }

 .header-container-content .right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 230px;
  background-color: gray ;
  flex-shrink: 0;
 }

 .header-container-content .left-content {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 480px;
  height: 230px;
  gap: 10px;
  flex-shrink: 0;
  font-size: 18px;
 }

 .header-container-content .left-content .h1-bold {
  font-weight: bold;
  font-size: 48px;
 }

 .body-container-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
 }

 .header-text {
  display: flex;
  margin-bottom: 40px;
  font-weight:bolder;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 40px;
 }

 .illustration-images {
  display: flex;
  gap: 30px;
 }

 .illustration-images .image-filler {
  height: 190px;
  width: 190px;
  border: 2px solid blue;
  border-radius: 15px;
 }

 .image .text {
  text-align: center;
  font-size: 14px;
  width: 190px;
  margin-bottom: 80px;
 }

 .image {
  display: flex;
  flex-direction: column;
  gap: 5px;
 }

 .button {
  background-color: #2882F6;
  color:white;
  border-radius: 10px;
  width: 130px;
  height: 35px;
 }
 
 .quote-container {
  display: flex;
  background-color: #dcdcdc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
 }

 .quote-container .quote {
  width: 840px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
 }

 .quote-container .signed {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left:420px;
  width: 600px;
  padding-right: 50px;
 }

 .header-logo a {
  font-size: 24px;
  font-weight: bold;
 }

 .body-container-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

 .body-container-end-box {
  background-color: #3882F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1025px;
  height: 130px;
  border-radius: 15px;
  gap:190px;
 }

 .box-text {
  display: flex;
  flex-direction: column;
  color: white;
 }
 
 .box-text .signup {
  font-weight: bold;
  font-size: 20px;
 }

 button {
  background-color: #3882F6;
  color: white;
  width: 120px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid white;
 }

 .footer-container {
  background-color: #1F2937 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
 }

